.formSection {
    display: flex;
    flex-direction: column;
    color: hsl(213, 96%, 18%);
    padding: 4rem;

    height: 80%;
    position: relative;
}

.widgetGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.durationOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(231, 100%, 99%);
    border-radius: 10px;
    font-weight: bolder;
}
