.formSection {
    display: flex;
    flex-direction: column;
    color: hsl(213, 96%, 18%);

    position: relative;
}

h1 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.description {
    margin: 0;
    color: hsl(231, 11%, 63%);
    margin-bottom: 3rem;
}

.formElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.labelRow {
    display: flex;
    justify-content: space-between;
}

label {
    margin-bottom: 0.5rem;
}

.yourInputInput {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid hsl(229, 24%, 87%);
}

.yourInputInput,
.phoneInput {
    font-weight: bolder;
    color: hsl(213, 96%, 18%);
}

::placeholder {
    font-size: 1rem;
}

.phoneInput {
    width: 100% !important;
    height: 49px !important;
    padding-left: 4rem !important;
    font-size: 1rem !important;
}

.phoneButton {
    width: 3rem;
    border-radius: 5px !important;
}

input[type='text']:focus {
    border: 1px solid hsl(274, 100%, 62%) !important;
}

.inputError {
    border: 1px solid hsl(354, 84%, 57%) !important;
}

.error {
    font-size: 0.8rem;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;

    color: hsl(354, 84%, 57%);
    font-weight: bold;
}

.buttonPosition {
    align-self: flex-end;
    margin-top: 5rem;
}
