.formNav {
    margin: 1rem;
    border-radius: 10px;
    background-image: url('../../assets/images/bg-sidebar-desktop.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem;
}
