.planWidget {
    box-sizing: border-box;
}

.planLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    cursor: pointer;
    box-sizing: border-box;

    padding: 1rem;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;

    height: 174px;
    transition: 0.8s;
}

.planLabelWithOffer {
    height: 200px;
}

input[type='radio']:checked ~ .planLabel {
    background-color: hsl(225, 50%, 97%);
    border: 2px solid hsl(243, 100%, 62%);
}

.planIcon {
    margin-bottom: 2rem;
}

.planType {
    font-weight: bolder;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}

.monthlyPrice {
    margin: 0;
    color: hsl(231, 11%, 63%);
}

.planRadio {
    display: none;
}

.yearlyOffer {
    position: absolute;
    font-size: 0.9rem;
    opacity: 0;
}

.yearlyOfferActive {
    position: static;
    opacity: 1;
    transition: 1s linear;
}
