.slider {
    width: 2rem;
    height: 1.3rem;
    border-radius: 30px;

    padding: 0 0.3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;

    border: none;
    background-color: hsl(213, 96%, 18%);
}

.slider::-moz-range-thumb {
    border: none;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}
